{% load static %}
<html>
    <head>
<title>VkApiTest</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">    
    </head>
    <body>
<h1><a href="https://oauth.vk.com/authorize?client_id=7297032&display=page&redirect_uri=http://localhost:8000/api/callback/&scope=friends&response_type=code&v=5.103">Войти через вконтакте</a></h1>
</body>
</html>
